@import '../../SCSS/variables';

.loader {
    border: 5px solid $primaryColor;
    border-radius: 50%;
    border-top: 5px solid $secondaryColor;
    width: 30px;
    height: 30px;
    animation: spin 1500ms linear infinite;

    &--dark {
        border-color: 5px solid $secondaryColor;
        border-top-color: 5px solid $primaryColor;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}