.image {
    &--tiny {
        max-width: 60px;
    }

    &--small {
        max-width: 200px;
        @media screen and (max-width: 1024px) {
            max-width: 400px;
        }
    }

    &--large {
        max-width: 300px;
    }

    &--xlarge {
        max-width: 550px;
    }

    &--highlighted {
        border: 5px solid rebeccapurple;
    }

    &--clickable {
        cursor: pointer;
    }
}

.image-inner {
    width: 100%;
}