@import '../../SCSS/variables';

.button {
    color: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    &--primary {
        background: white;
        &:hover {
            opacity: 90%;
        }
    }
    &--secondary {
        background: #90EE90;
        &:hover {
            background: lighten(#90EE90, 5%)
        }
    }
    &--delete {
        background: #ffe8e7;
        &:hover {
            background: lighten(#ffe8e7, 2%)
        }
    }

    &--disabled {
        color: grey;
        cursor: inherit;

        &:hover {
            background-color: white;
        }
    }
}

