.header__nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 28px;
    line-height: 24px;
    text-decoration: none;
    &--active, &:hover {
        font-weight: 700;
    }
}
