.grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    &--column {
        flex-direction: column;
    }

    &--gap-small {
        gap: 10px;
    }

    &--gap-medium {
        gap: 20px;
    }

    &--align-start {
        align-items: flex-start;
    }

    &--align-center {
        align-items: center;
    }

    &--align-end {
        align-items: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--medium {
        width: 50%;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }

    &--small {
        width: 40%;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }

}

.grid-column--lg-3 {
    @media (min-width: 1024px) {
        flex-basis: 24%;
    }
}

.grid-column--xs-6 {
    @media (max-width: 480px) {
        flex-basis: 49%;
    }
}

.grid-column--lg-2 {
    @media (min-width: 1024px) {
        flex-basis: 20%;
    }
}

.grid-column--lg-4 {
    @media (min-width: 1024px) {
        flex-basis: 32%;
    }
}