.grid {
    display: flex;
    flex-direction: row;
    width: 100%;

    &--column {
        flex-direction: column;
    }

    &--gap-small {
        gap: 10px;
    }

    &--gap-medium {
        gap: 20px;
    }

    &--align-start {
        align-items: flex-start;
    }

    &--align-center {
        align-items: center;
    }

    &--align-end {
        align-items: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--medium {
        width: 50%;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }

    &--small {
        width: 40%;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}