.list--horizontal {
    display: flex;
    flex-direction: row;
}

.list--vertical {
  display: flex;
  flex-direction: column;
}

.list--full-width {
  width: 100%;
  justify-content: space-between;
}

.list__item {
  list-style-type: none;
}
